#### 該文件包含1,338個案例，即目前已經登記過的保險計劃受益者、病人特點和計劃計入的總醫療費用特徵:

* age:表示主要受益者年齡
* sex:性別
* bmi:身體質量指數,理想BMI在18.5~24.9之間
* children:表示保險計劃中所包括的孩子/受撫養者的數量
* smoker:表示被保險人是否經常吸煙
* region:受益者在美國的居住地-東北(northeast), 東南(sotheast), 西南(southwest)和東北(northwest)
* charges:醫療費用

#### 目的:檢測與醫療費用相關之變量，找出在醫療費用上具高風險的人

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('insurance.csv')

In [6]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [15]:
# 執行轉換，並存回新的變數 (通常叫 df_encoded 或 X)
# dtype=int 是為了讓它變成 0 和 1，而不是 True/False
df['smoker'] = df['smoker'].map({'yes': 1, 'no': 0})
df

      age     sex     bmi  children  smoker     region      charges
0      19  female  27.900         0     NaN  southwest  16884.92400
1      18    male  33.770         1     NaN  southeast   1725.55230
2      28    male  33.000         3     NaN  southeast   4449.46200
3      33    male  22.705         0     NaN  northwest  21984.47061
4      32    male  28.880         0     NaN  northwest   3866.85520
...   ...     ...     ...       ...     ...        ...          ...
1333   50    male  30.970         3     NaN  northwest  10600.54830
1334   18  female  31.920         0     NaN  northeast   2205.98080
1335   18  female  36.850         0     NaN  southeast   1629.83350
1336   21  female  25.800         0     NaN  southwest   2007.94500
1337   61  female  29.070         0     NaN  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
# 指定要進行 One-Hot Encoding 的欄位
cols_to_encode = ['sex',  'region']
df_encoded = pd.get_dummies(df, columns=['sex', 'region'], drop_first=False, dtype=int)

# 檢查結果
df_encoded.head()